body{
  background-color: beige;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    /* height: 400000px; */
}
.italy{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-left: 100px;
    padding-top: 100px;
}
.news{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline;
  color: darkgrey;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;  
    padding-top: 100px;
}
img.arrow{
    width: 1%;
    /* padding-left: 10px; */
}
.line a {
    text-align: left;
    text-decoration: none;
    color: #666;
}
.line ul{
    display: inline-flex;
    list-style: none;
    color: #666;
}
.line ul li{
    width: 70px;
    font-weight: bold;
}
.italy_news{
    padding-top: 60px;
    padding-bottom: 60px;
}
.news_down{
    display: inline;
    font-size: 1em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-left: 110px;
    /* padding-top: 100px; */

}
.color{
    border-bottom:  rgb(128, 122, 122);
    border-top:  rgb(128, 122, 122);
    border-style: dotted;
    border-radius: 0px;
    /* display: inline; */
}
.menu_bar{
    text-align: left;
    background-color: rgb(255, 255, 255);
    /* padding-top: 30px; */
}
.menu_bar ul{
    display: inline-flex;
    list-style: none;
    color: rgb(0, 0, 0);
}
.menu_bar ul li{
    /* margin: 15px; */
    padding: 15px;
    width: 90px;
}
.menu_bar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.menu_bar ul li:hover{
    background-color: rgb(230, 225, 225);
    border-radius: 7px;
    color: aliceblue;
}
img.icon{
    width:20px;
    height: 50px;
    padding-top: 20px;
    margin-right:8px;
}
.menu_football{
    display: none;
}
.menu_bar ul li:hover .menu_football{
display: block;
position: absolute;
background-color: rgb(255, 255, 255);
margin-top: 15px;
margin-left: -15px;
}
.menu_bar ul li:hover .menu_football ul{
    display: block;
    margin: 10px;
}

.menu_bar ul li:hover .menu_football ul li{
  width: 150px;
  padding: 15px;
  border-bottom: 1px dotted rgb(128, 122, 122);
  /* background: transparent; */
  border-radius: 3px;
  text-align: left;
}
.flag{
    width: 13%;
    /* text-align: left; */
    /* padding-top: 40px; */
    /* margin-top: 20px; */
    /* align-content: left; */
}
.menu_bar2{
    text-align: left;
    /* background-color: rgb(255, 255, 255); */
    /* padding-top: 30px; */
    border-bottom: 1px dotted rgb(179, 166, 166);
    border-top: 1px dotted rgb(179, 166, 166);
    border-radius: 3px;
    width: 900px;

}
.menu_bar2 ul{
    display: inline-flex;
    list-style: none;
    color: rgb(0, 0, 0);
}
.menu_bar2 ul li{
    /* margin: 15px; */
    padding: 15px;
    width: 90px;
    font-weight: bold;
}
.menu_bar2 ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.menu_bar2 ul li:hover{
    background-color: rgb(230, 225, 225);
    border-radius: 7px;
    color: aliceblue;
}
img.icon{
    width:20px;
    height: 50px;
    padding-top: 20px;
    margin-right:8px;
}
.menu_football{
    display: none;
}
.menu_bar2 ul li:hover .menu_football{
display: block;
position: absolute;
background-color: rgb(255, 255, 255);
margin-top: 15px;
margin-left: -15px;
}
.menu_bar2 ul li:hover .menu_football ul{
    display: block;
    margin: 10px;
}

.menu_bar2 ul li:hover .menu_football ul li{
  width: 150px;
  padding: 15px;
  border-bottom: 1px dotted rgb(128, 122, 122);
  /* background: transparent; */
  border-radius: 3px;
  text-align: left;
}
h1{
    padding: 40px;
    font-size: medium;
    border-bottom: 1px dotted rgb(179, 166, 166);
    width: 600px;
}
img{
    width: 150px;
    /* padding: 50px; */
    /* border: 200000px;
    border-color: black; */
    /* margin: 150px; */
}
.text{
    display: inline;
    
}
.image_news1{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 95%;
    left: 12%;
    transform: translate(-50%, -50%); 
    background: rgba(199, 189, 189, 0.4);
    text-align: left;
}
.image_news1 a{
     text-decoration: none;
font-family: Georgia, 'Times New Roman', Times, serif;
     color: rgb(0, 0, 0);
}
.image_news2{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 135%;
    left: 12%;
    transform: translate(-50%, -50%); 
    background: rgba(199, 189, 189, 0.4);
    text-align: left;
   
}
.image_news2 a{
    text-decoration: none;
font-family: Georgia, 'Times New Roman', Times, serif;
     color: rgb(0, 0, 0);
}
.image_news3{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 105%;
    left: 39%;
    transform: translate(-50%, -50%); 
    background: rgba(199, 189, 189, 0.4);
    text-align: left;
}
.image_news3 a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
         color: rgb(0, 0, 0);
}
.image_news4{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 190%;
    left: 40%;
    transform: translate(-50%, -50%); 
    background: rgba(199, 189, 189, 0.4);
    text-align: left;
}
.image_news4 a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
         color: rgb(0, 0, 0);
}
.image_news5{
    width: 500px;
    padding:30px;
    position: absolute;
    top: 160%;
    left: 78%;
    transform: translate(-50%, -50%); 
    background: rgba(199, 189, 189, 0.4);
    text-align: left;
}
.image_news5 a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
         color: rgb(0, 0, 0);
}
.image_news6{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 205%;
    left: 12%;
    transform: translate(-50%, -50%); 
    background: rgba(199, 189, 189, 0.4);
    text-align: left;
}
.image_news6 a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
         color: rgb(0, 0, 0);
}
.image_news7{
    width: 500px;
    padding: 30px;
    position: absolute;
    top: 220%;
    left: 78%;
    transform: translate(-50%, -50%); 
    background: rgba(199, 189, 189, 0.4);
    text-align: left;
}
.image_news7 a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
         color: rgb(0, 0, 0);
}
.image_news8{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 277%;
    left: 40%;
    transform: translate(-50%, -50%); 
    background: rgba(199, 189, 189, 0.4);
    text-align: left;
}
.image_news8 a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
         color: rgb(0, 0, 0);
}
.image_news9{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 280%;
    left: 13%;
    transform: translate(-50%, -50%); 
    background: rgba(199, 189, 189, 0.4);
    text-align: left;
}
.image_news9 a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
         color: rgb(0, 0, 0);
}
 
.image_news10{
    width: 500px;
    padding: 30px;
    position: absolute;
    top: 280%;
    left: 78%;
    transform: translate(-50%, -50%); 
    background: rgba(199, 189, 189, 0.4);
    text-align: left;
}
.image_news10 a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
         color: rgb(0, 0, 0);
}

.video{
    /* width: 200px; */
    /* top: 500%;
    left: 800%; */
    top: 160%;
    text-align: right;
    /* width: 300px; */
    /* padding: 30px; */
    /* position: absolute; */
    /* transform: translate(-50%, -50%);  */
    /* background: rgba(199, 189, 189, 0.4); */
}
.background{
    top: 2100px;
    height: 150px;
    width: 1340px;
    background-color:  #dcdcdc ;
    /* transform: translate(-50%, -50%);  */  
    position: absolute;
}
.background img{
    width: 50px;
    padding: 30px;

}

