*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 0, 0));
  
    height: 105vh;
    font-family: sans-serif;
    background-size: cover;
    /* background: no-repeat; */
}
.menu_bar{
    text-align: center;
    /* background-color: rgb(204, 74, 74); */
    padding-top: 30px;
}
.menu_bar ul{
    display: inline-flex;
    list-style: none;
    color: rgb(0, 0, 0);
}
.menu_bar ul li{
    margin: 15px;
    padding: 15px;
    width: 120px;
}
.menu_bar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.menu_bar ul li:hover{
    background-color: rgb(192, 55, 55);
    border-radius: 7px;
    color: aliceblue;
}
img.icon{
    width:20px;
    height: 50px;
    padding-top: 20px;
    margin-right:8px;
}
.menu_football{
    display: none;
}
.menu_bar ul li:hover .menu_football{
display: block;
position: absolute;
background-color: rgb(204, 74, 74);
margin-top: 15px;
margin-left: -15px;
}
.menu_bar ul li:hover .menu_football ul{
    display: block;
    margin: 10px;
}
.sports{
    margin-top: 40px;
}
.menu_bar ul li:hover .menu_football ul li{
  width: 150px;
  padding: 15px;
  border-bottom: 1px dotted rgb(228, 116, 116);
  /* background: transparent; */
  border-radius: 3px;
  text-align: left;
}
.logo {
	float:  center ;
    width: 50%;
    
}
.sochial{
    width: 2%;
    padding-left:5px;
}
.flag{
    width: 13%;
    /* text-align: left; */
    /* padding-top: 40px; */
    /* margin-top: 20px; */
    /* align-content: left; */
    

}
